// vendor
@import "../bower_components/simple-text-rotator/simpletextrotator.css";

// Reset
@import 'required/normalize.scss';

// Project base colours and variables
@import 'base/palette';
@import 'base/variables';

// Project components
@import 'component/button';
@import 'component/links';
@import 'component/image';
@import 'component/lists';

// Project layout
@import 'layout/container';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/section';
@import 'layout/navigation';
@import 'layout/layout';

// Project base
@import 'base/typography';

html,
body {
    height: 100%;
    background: $black;
}

*
*::before,
*::after {
    box-sizing: border-box;
}