// vendor
@import "../bower_components/simple-text-rotator/simpletextrotator.css";

// Reset
@import 'required/normalize.scss';

// Project base colours and variables
@import 'base/palette';
@import 'base/variables';

// Project components
@import 'component/links';
@import 'component/image';

// Project layout
@import 'layout/header';
@import 'layout/layout';

// Project base
@import 'base/typography';

html,
body {
    height: 100vh;
    background: $white;
}

*
*::before,
*::after {
    box-sizing: border-box;
}