$font-family-base:          'neuzeit-grotesk', sans-serif;
$font-size-base:            18px;

// breakpoints
$screen-xl:                 1500px;
$screen-lg-max:             1200px;
$screen-md-max:             992px;
$screen-sm-max:             767px;
$screen-xs-max:             480px;
