$font-family-base:          'HKGrotesk-Regular', sans-serif;
$font-size-base:            25px;

// breakpoints
$screen-xl:                 1500px;
$screen-lg:                 1200px;
$screen-md:                 992px;
$screen-sm:                 767px;
$screen-xs:                 480px;
