// Mixin to vertically and horizontally centre elements
@mixin center-align {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
// Usage:
// @include center-align;

// Mixin to vertically centre elements
@mixin vertical-align {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
// Usage:
// @include vertical-align;
