img {
    height: auto;
    max-width: 100%;
}

.img-peace {
    display: block;
    margin-bottom: 2rem;
    width: 1.32rem;
    height: 2rem;
}

.img-tom {
    width: 10rem;
    height: 10rem;
}

.img-right-arrow {
    width: .5rem;
    height: .6rem;
    margin: 0 1rem;
}

.img-logo {
    height: 2.25rem;
    width: auto;
}