.project-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.project-card {
    width: calc(50% - 1.25rem);
    margin-bottom: 3rem;

    &:focus,
    &:hover {
        .project-card__overlay {
            opacity: 1;
        }

        .project-card__title {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

    .project-card__image {
        position: relative;
        display: block;
        background: grey;
    }

    .project-card__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blue;
        color: $white;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .project-card__title {
        transform: translateY(-0.5rem);
        opacity: 0;
        transition: 0.2s transform 0.2s ease, 0.2s opacity 0.2s ease;
    }

