html,
body {
    background: $off-white;
}

.section {
    padding: 4.5vw;
}

.section--intro {
    padding-top: 15rem;
    text-align: center;
}

.section--dark {
    background: $black;
    color: $white;
}