body {
    padding: 2rem;
}

.layout {
    position: relative;
    width: 30rem;
    max-width: 100%;
}

.hi {
    display: inline-block;
    cursor: url(../img/pointer.png), default;
    cursor: -webkit-image-set(
        url(../img/pointer.png) 1x,
        url(../img/pointer@2x.png) 2x
    ), auto;
}

.layout_pop-up {
    position: absolute;
    top: -2rem;
    right: 3.5rem;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
    opacity: 0;
    transform: translateY(-5rem);
    transition: opacity .5s ease, transform .5s ease;

    &.is-active {
        opacity: 1;
        transform: translateY(0);
    }

    span {
        position: absolute;
        top: 1rem;
        left: -0.6666rem;
        color: $green;
        text-shadow: 0px .08rem .2rem #4A4A4A;
        opacity: 0;
        transform: translateY(.25rem);
        transition: opacity 1s ease, transform 1s ease;
        transition-delay: .5s;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

    }
}